* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #89A8B2, #B3c8cf, #e5e1da, #f1f0e8);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Center container */
.login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color:greenyellow;
}

/* for error */
.error {
    color: red;
    margin-bottom: 1rem;
}

/* Form Styling */
form {
    width: 100%;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    color: white;
    background: #98c1d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

button[type="submit"]:hover {
    background: #98c1d9;
}

.form-link {
    margin-top: 1.5rem;
    color: #333;
}

.form-link a {
    color: #007bff;
    text-decoration: none;
}

.form-link a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .login-container {
        padding: 1.5rem;
    }

    input[type="text"], 
    input[type="email"], 
    input[type="password"], 
    button[type="submit"] {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    label, 
    input[type="text"], 
    input[type="email"], 
    input[type="password"], 
    button[type="submit"] {
        font-size: 0.8rem;
    }
}
