body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B3C7CF;
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background: #89a8b2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #98c1d9;
    color:#E5E1DA;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3893f3;
}
